<div class="container container-sm-height equal top">
  <div class="row row-sm-height">
    <section class="col-md-12 col-sm-height panel" data-ng-class="{'col-md-6': showDetail}">
      <h1 class="panel-heading">
        Articles
        </h1>
      <ul class="list-group">
        <li ng-repeat="article in articles"
            ng-click='showArticle(article)'
            point
            class="list-group-item">
            <h5>{{article.title}}
              <button type="button"
                      class="btn btn-sm btn-white pull-right"
                      data-ng-hide="showDetail"
                      y-icon="arrow-right"></button>
            </h5>

        </li>
      </ul>
    </section>

    <section class="col-md-6 col-sm-height panel" ng-show="showDetail">
      <ui-view></ui-view>
    </section>
  </div>
</div>