<!-- articles.view.html -->
<section class="container top">
  <div class="row">
    <section class="col-md-3">
      <div class="panel">
        <header color-blue-500 text-white class="panel-heading text-center">
          <h3>Articles</h3></header>

        <article class="list-group">
          <li data-ng-repeat="article in articles"
             data-ui-sref='articles.detail({articleId:article._id})'
             data-ng-class="{'btn-orange-400 active text-white': isActive(article._id)}"
             class="list-group-item btn-orange-50"
             point>
            <small class="list-group-item-text">{{article.created | date:'medium'}} / {{article.user.displayName}}</small>
            <h4 class="">{{article.title}}</h4>
          </li>
        </article>
      </div>
    </section>

    <section class="col-md-9">

      <data-ui-view></data-ui-view>

    </section>

  </div>
</section>