<div class="container top">
  <div class="row">
    <section class="col-md-12 panel">
      <div class="row">
        <h1 class="panel-heading color-blue-400" text-white>
          Articles
          <a
             class="btn btn-clear pull-right"
             ui-sref="articles-create"
             y-icon='plus'></a>
        </h1>
        <ul class="list-group">
          <li
              ng-repeat="article in vm.articles"
              ui-sref="article-detail({articleId: article._id})"
              point
              class="list-group-item">
              <p>
                {{article.title}}
              </p>

          </li>
        </ul>
        </div>
    </section>
  </div>
</div>