<!-- articles.detail.view.html -->
<article class="panel">
  <header color-blue-500 text-white class="panel-heading text-center">
    <h3>
      {{article.title}}
    </h3>
  </header>

  <section class="panel-body">
    <p text-grey-500>{{article.content}}</p>
    <small>
      <em class="text-muted">Posted on {{article.created | date:'mediumDate'}} by {{article.user.displayName}}</em>
    </small>
    <hr>
      <a  data-ui-sref="articles.edit({articleId:article._id})"
          btn-white
          y-icon="pencil"
          class="btn pull-right"
          ></a>
  </section>
</article>