<section class="container top">
  <div class="row">
    <div class="col-md-12">
      <section class="panel">
        <header class="panel-heading">
          <h3>People</h3></header>
        <article class="panel-body">
          <ul class="list-group">
            <a data-ng-repeat="person in people"
               class="list-group-item"
               data-ui-sref='people({personId:person._id})'>
              <small class="list-group-item-text">{{person.created | date:'medium'}} / {{person.user.displayName}}</small>
              <h4 class="list-group-item-heading">{{person.name}}</h4>
            </a>
          </ul>
        </article>
      </section>
    </div>
  </div>
</section>
<a data-ng-repeat="person in people" data-ng-href="#/people/{{person._id}}" class="list-group-item">
            <small class="list-group-item-text">{{person.created | date:'medium'}} / {{person.user.displayName}}</small>
            <h4 class="list-group-item-heading">{{person.name}}</h4>
        </a>